<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Registro de Inversiones</title>
    <!-- Agregar los enlaces a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Agregar estilos personalizados -->
    <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 30px;
        }
        table {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Página Principal - Registro de Inversiones</h1>

        <!-- Botones de navegación -->
        <div class="text-center mb-4">
            <a class="btn btn-primary mx-2" href="{{ url_for('index') }}">Inicio</a>
            <a class="btn btn-primary mx-2" href="{{ url_for('compra') }}">Compra</a>
            <a class="btn btn-primary mx-2" href="{{ url_for('status') }}">Estado de Inversiones</a>
        </div>

        <!-- Tabla de movimientos -->
        <h2 class="text-center">Movimientos</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad From</th>
                    <th>To</th>
                    <th>Cantidad To</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento[4] }}</td>
                    <td>{{ movimiento[5] }}</td>
                    <td>{{ movimiento[1] }}</td>
                    <td>{{ movimiento[2] }}</td>
                    {% if movimiento[3] == 'Compra' %}
                        <td>EUR</td>
                        <td>{{ get_crypto_value(movimiento[1]) * movimiento[2] }}</td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                    <td>{{ movimiento[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Agregar los enlaces a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
